<h1>Button</h1>
<p-button label="Click" (onClick)="handleClick($event)"></p-button>
{{ clickMessage }}

<h1>Flex Grid</h1>
<p>
  Flex Grid: Rejilla responsiva CSS. Una rejilla básica definiendo un contenedor
  con la clase "p-grid" y en los elementos hijo con la clase ".p-col".
</p>

<div class="p-grid">
  <div class="p-col">1</div>
  <div class="p-col">2</div>
  <div class="p-col">3</div>
</div>

<h1>Input password</h1>
<input type="password" pPassword />


<h1>Static table</h1>
<p-table [value]="userTable">
  <ng-template pTemplate="header">
    <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Twitter</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-userTable>
    <tr>
      <td>{{ userTable.first_name }}</td>
      <td>{{ userTable.last_name }}</td>
      <td>{{ userTable.twitter }}</td>
    </tr>
  </ng-template>
</p-table>
