<aside class="menu">
  <p class="menu-label">
    General
  </p>
  <ul class="menu-list">
    <li><a href="#" routerLink="/">Home</a></li>
    <li><a href="#" routerLink="/contacto">Contacto</a></li>
  </ul>
</aside>

<router-outlet></router-outlet>
