<div>
  <div>
    <div>{{ article.votes }}</div>
    <div>Points</div>
  </div>
</div>

<div>
  <a href="{{ article.link }}">{{ article.title }}</a>
  <ul>
    <li>
      <a href (click)="voteUp()"><i class="arrow up icon"></i>upvote</a>
    </li>

    <li>
      <a href (click)="voteDown()"><i class="arrow down icon"></i>downvote</a>
    </li>
  </ul>
</div>
