<div class="container">
  <div class="row">
    <div class="col">
      <label>Título de persona</label>
      <input type="text" class="form-control" [(ngModel)]="tituloPersona" />
      <button class="btn btn-primary" (click)="onCrearPersona()">
        Agregar persona
      </button>
      <p *ngIf="personaCreada">{{ agregarPersonaStatus }}</p>
    </div>
  </div>
</div>
